@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');


* {
  font-family: 'Toss Product Sans';
}

a:-webkit-any-link {
    text-decoration: none;
  }

.notification {
  background-color: #f8d7da;
  color: #000000;
  width: 330px;
  height: 50px;
  margin: 0px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.notification img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.notification-text {
  margin-left: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 62px 10px;
  align-items: center;
  background-color: #FFFFFF;
}

.scroll-button {
  min-width: 150px;
  min-height: 90px;
  margin: 10px;
  background-color: #072B8C;
  color: white;
  text-align: center;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 90px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.scroll-button img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px; 
  height: 180px; 
}

.scroll-button p {
  position: absolute;
  bottom: 20px; 
  left: 20px; 
  width: calc(100% - 10px); 
  color: #FFFFFF;
  text-align: left; 
  font-size: 1.3em;
  font-weight: bold;
  margin: 0; 
}


.data-container {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
}

.data-button {
  width: 100px;
  height: 100px;
  background-color: #EBF3FF;
  border-radius: 15px;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-button img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  
}

.data-button p {
  color: #000000;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

h5 {
  width: 100%;
  margin-left: 21px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
}

.setting {
  width: 100%;
}

.setting p {
  margin-bottom: 30px;
  color: #072B8C;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.setting-buttons p {
  font-size: 13px;
  color: #8F8F8F;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;

}

.setting-buttons button {
  width: 100%;
  padding: 15px;
  background-color: #EBF3FF;
  border: none;
  font-size: 1em;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.user-info .avatar {
  width: 110px;
  height: 110px;
}

.info-text {
  display: flex;
  flex-direction: column; 
}

.info-text p {
  margin: 0;
  color: #000000;
  font-size: 15px;
}

.modify-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  gap: 20px;
}

.modify-button {
  padding: 10px 20px;
  background-color: #EBF3FF;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.modal-buttons button {
  padding: 8px 20px;
  background-color: #EBF3FF;
  border-radius: 25px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

/* InfoButton.css */
.info-button {
  position: fixed;
    top: 70px;
    right: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}

.info-popup {
  position: fixed;
  top: 70px;
  background-color: #fff; opacity: 0.9;
  border: 1px solid #0532A9;
  padding: 10px;
  width: 85%;
  z-index: 1000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.info-popup-content {
  font-size: 14px;
  text-align: center;
}

.info-popup-content ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.info-popup-content li {
  align-items: center;
  margin-bottom: 5px;
  text-align: center;
}

.info-popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}

/* FilterButton.css */
.filter-button {
  position: fixed;
    top: 70px;
    left: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}

.filter-options {
  position: fixed;
  top: 120px; /* filter-button 위치 아래에 필터 옵션이 나타나도록 조정 */
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* 옵션 버튼 사이 간격 */
  z-index: 1000;
}

.filter-option-button {
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.filter-option-button:hover {
  background: #f0f0f0;
}

.footer {
  height: 62px; /* Footer의 고정 높이 */
}

.container.blur main {
  filter: blur(5px);
}


