/* Notice List */

.notice-container {
    flex-grow: 1;
    margin-top: 10px;
    background-color: #ffffff;
  }

  .notice-header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    color: #072B8C;
  }

  a.header-title {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  a.add-icon {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .list {
    padding: 15px;
    border-top: 2px solid #072B8C;
    border-bottom: 2px solid #072B8C;
  }
  
  .latest-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #072B8C;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .new-icon {
    margin-right: 15px;
    width: 25px;
    height: 25px;
  }

  .notice-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
  }

  a.notice-top {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  a.arrow {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #e9e9e9;
  }

  a.notice {
    text-decoration: none;
    color: inherit;
  }
  
  .notice-title {
    flex: 1;
    font-weight: bold;
  }
  
  .notice-date {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    color: #072B8C;
    font-weight: bold;
    cursor: not-allowed;
  }

/* Notice Content */

.notice-content {
  padding: 15px;
  border-top: 2px solid #072B8C;
  border-bottom: 2px solid #072B8C;
}

.notice-content .notice-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notice-content .arrow {
    position: absolute;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 5px;
}

.notice-content .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.notice-content .date {
    font-size: 12px;
    color: #888;
    align-self: flex-end;
    margin-top: 5px;
}

.notice-content .notice-body {
  font-size: 16px;
  padding: 20px;
  border-bottom: #ddd 1px solid;
  margin-bottom: 20px;
}


/* Notice Editor */

.notice-editor {
  padding: 10px;
  margin-bottom: 61px;
}

.notice-editor .arrow {
  position: absolute;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 5px;
}

.notice-editor .notice-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
}

.notice-editor .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.notice-editor .date {
  font-size: 12px;
  color: #888;
  align-self: flex-end;
  margin-top: 5px;
}

.notice-body {
    font-size: 16px;
    padding: 15px;
    margin-bottom: 20px;
}

.notice-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a.notice-bottom button {
    display: block;
    text-decoration: none;
    color: inherit;
}

.notice-bottom button {
    padding: 8px 12px;
    border: 2px solid #072B8C;
    border-radius: 18px;
    background: none;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
    color: rgb(0, 0, 0);
}

/* Notice Write */

.input-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }